# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

*__pycache__
*build

*.pdf

*.pyc
*.vscode
*.eggs
*.egg-info
.flake8
.makerc
.coverage
dist/
*.csv
*.swp
*.whl

*.ruff_cache

src/radiosim/_version.py

docs/_build
docs/api
