# This is a TOML document.

title = "Simulation configuration"

[general]
quiet = true
seed = "none"  # "none" or int
mode = "mojave"   # jet or survey or mojave
threads = "none" # "none" or int > 0

[paths]
outpath = "./build/example_data/"

[jet]
training_type = "list"  # gauss or list or clean
num_jet_components = [3, 10]
scaling = "normalize"

[survey]
num_sources = 20
# classes are: jet, gaussian, pointlike
class_distribution = [2, 1, 2]   # average share of each source in the images
scale_sources = true

[mojave]
class_ratio = [1, 1, 1] # rel. amount of each class [compact, one_jet, two_jets]

[image_options]
bundles_train = 40
bundles_valid = 10
bundles_test = 10
bundle_size = 10
img_size = 256
noise = true
noise_level = [0, 15]    # range of the intensity of noise in percent, relative to peak flux in image
