title = "Simulation configuration"

[general]
quiet = true
seed = "none"
threads = "none"
decive = "cuda"  # only for ppdisks simulation

[paths]
outpath = "./testdata/radiosim/128"

[dataset]
bundles_train = 20
bundles_valid = 10
bundles_test = 10
bundle_size = 20
img_size = 128
noise = false
noise_level = [0, 15]

[jet]
training_type = "list"
num_jet_components = [3, 10]
scaling = "normalize"

[survey]
num_sources = 20
class_distribution = [2, 1, 2]
scale_sources = true

[mojave]
class_ratio = [1, 1, 1]

[ppdisks]
[ppdisks.metadata]
alpha_range = [0.0, 180.0]
ratio_range = [3.0, 15.0]
size_ratio_range = [0.1, 1.0]

[ppdisks.dataset]
file_prefix = "ppdisks"
batch_size = 5
batches = 10
batches_train_ratio = 0.7
batches_valid_ratio = 0.2
batches_test_ratio = 0.1
